*{margin: 0;
padding: 0;
box-sizing: border-box;}


body {
    font-family: 'comfortaa', sans-serif;
    background-image: url(../img/fondo.png);
}

.header {
    background-color: #f5f5f5;
    background-image: linear-gradient(to left, #4d4949, rgb(252, 189, 63));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 20px;
}

.nav li a
{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}
.imgtitle
{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: aliceblue;
    margin-top: 20px;

}

.card
{
    width: 16rem;
}
