*{margin: 0;
padding: 0;
box-sizing: border-box;}


body {
    display: flex;
    flex-direction: column;
    font-family: 'comfortaa', sans-serif;
    background-image: url(../img/cavern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15vh;
    padding: 0 20px;
}

.headerimg
{
    height: 40px;
}

.title
{
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-left: 10px;
}

.imgtitle
{
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    color: white;
}


.card
{
    width: 16rem;
}

.footer
{
    background-color: black;
    color: white;
    margin-top: auto;
    width: 100%;
    text-align: center;
}
